{
	"env": {
		"browser": true,
		"commonjs": true,
		"es2021": true,
		"node": true
	},
	"extends": ["airbnb-base", "prettier", "eslint:recommended"],
	"files": ["*.graphql"],
	"parser": "@graphql-eslint/eslint-plugin",
	"plugins": ["@graphql-eslint"],
	"parserOptions": {
		"ecmaVersion": "latest",
		"operations": "./src/**/*.graphql"
	},
	"rules": {
		"no-unused-vars": "warn"
	}
}
