{
	"env": {
		"browser": true,
		"commonjs": true,
		"es2021": true,
		"node": true
	},
	"extends": ["airbnb-base", "prettier", "eslint:recommended"],
	"parserOptions": {
		"ecmaVersion": "latest"
	},
	"rules": {
		"no-unused-vars": "warn",
		"no-underscore-dangle": ["error", { "allow": ["_id"] }]
	},
	"overrides": [
		{
			"files": ["*.graphql"],
			"parser": "@graphql-eslint/eslint-plugin",
			"plugins": ["@graphql-eslint"],
			"rules": {
				"@graphql-eslint/known-type-names": "error"
			},
			"parserOptions": {
				"operations": "./src/**/*.graphql",
				"schema": "./src/**/*.graphql"
			}
		}
	]
}
